<%# This line generate the <turbo-cable-stream-source> tag %>
<%= turbo_stream_from current_compagny, "quotes" %>

<main class="container">

  <!-- Add Quote Header-->
  <div class="header">
    <h1>Devis</h1>

    <!-- New Quote Link -->
    <%= link_to 'Nouveau devis',new_quote_path,
        data:{turbo_frame: dom_id(Quote.new) }, 
        class:"btn btn--primary" %>
  </div>

  <!-- Add New Quote Form or Empty state if quote is none -->
  <%= turbo_frame_tag Quote.new do %>
      <% if @quotes.none? %>
          <%= render "shared/empty_state" %>
      <% end %>
  <% end %>


<%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
<% end %>



    <!-- List Quotes -->
  <%#= turbo_frame_tag "quotes" do %>
    <%#= render "shared/empty_state_css" %>
    <%#= render @quotes %>
  <%# end %>
  
</main>