<%= turbo_frame_tag line_item_date do %>
    <div class="line-item-date">
        <%= turbo_frame_tag dom_id(line_item_date, :edit) do %>
            <div class="line-item-date__header">
                <h2 class="line-item-date__title">
                    <%= l(line_item_date.date, format: :long) %>
                </h2>

                <div class="line-item-date__actions">
                    <%= button_to "Supprimer",
                            [quote, line_item_date],
                            method: :delete,
                            class: "btn btn--light" %>
                    <%= link_to "Modifier",
                        [:edit, quote, line_item_date],
                        class: "btn btn--light" %>
                </div>
            </div>
        <% end %>
        
        <!-- Add LineItems -->
        <div class="line-item-date__body">
            <div class="line-item line-item--header">
                <div class="line-item__name">Articles</div>
                <div class="line-item__quantity">Quantités</div>
                <div class="line-item__price">Prix</div>
                <div class="line-item__actions"></div>
            </div>

        <!-- Add List LineItems -->
        <%= turbo_frame_tag nested_dom_id(line_item_date, "line_items") do %>
            <%= render line_item_date.line_items, quote: quote, line_item_date: line_item_date %>
        <% end %>


        <!-- Add New Form LineItems -->
            <%= turbo_frame_tag nested_dom_id(line_item_date, LineItem.new) %>
            
            <div class="line-item-date__footer">
                <%= link_to "Nouvelle Ligne",
                    [:new, quote, line_item_date, :line_item],
                    data: { turbo_frame: nested_dom_id(line_item_date, LineItem.new) },
                    class: "btn btn--primary" %>
            </div>

        </div>

    </div>
<% end %>