<p style="color: green"><%= notice %></p>

<%= render @line_item_date %>

<div>
  <%= link_to "Edit this line item date", edit_line_item_date_path(@line_item_date) %> |
  <%= link_to "Back to line item dates", line_item_dates_path %>

  <%= button_to "Destroy this line item date", @line_item_date, method: :delete %>
</div>
